page{
    background-color: rgb(247, 245, 245);
}
.phone_wrap{
    background-color: #fff;
}
.exit_wrap{
    text-align: center;
    font-size: 38rpx;
    color: rgb(243, 109, 109);
    margin-top: 20rpx;
    padding: 20rpx;
    background-color: #fff;
}