<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这里的namespace和mapper里面接口方法全限定名对应好就可以自动联系-->
<mapper namespace="com.lhf.dajiuye.mapper.job.JobDataMapper">
    <resultMap id="comMap" type="com.lhf.dajiuye.bean.job.Company">
        <id column="com_id" property="comId"></id>
        <result column="com_full_name" property="comFullName"/>
        <result column="com_auth_capital" property="comAuthCapital"/>
        <result column="com_industry" property="comIndustry"/>
        <result column="com_mail" property="comMail"/>
        <result column="com_addr" property="comAddr"/>
        <result column="com_website" property="comWebsite"/>
        <result column="com_intro" property="comIntro"/>
        <result column="com_min_name" property="comMinName"/>
        <result column="com_scale" property="comScale"/>
        <result column="com_license" property="comLicense"/>
        <result column="com_logo" property="comLogo"/>
        <result column="com_class" property="comClass"/>
        <result column="incorporation_date" property="incorporationDate"/>
        <result column="com_welfare" property="comWelfare"/>
        <result column="com_links" property="comLinks"/>
    </resultMap>
    <resultMap id="userMap" type="com.lhf.dajiuye.bean.user.User">
        <result column="id" property="id"/>
        <result column="avatar" property="avatar"/>
    </resultMap>
    <resultMap id="jobMap" type="com.lhf.dajiuye.bean.job.Job">
        <id column="job_id" property="jobId"></id>
        <result column="job_salary" property="jobSalary"/>
        <result column="job_name" property="jobName"/>
        <result column="job_place" property="jobPlace"/>
        <result column="job_edu" property="jobEdu"/>
        <result column="job_age" property="jobAge"/>
        <result column="job_day_per_week" property="jobDayPerWeek"/>
        <result column="job_com_id" property="jobComId"/>
        <result column="job_update_time" property="jobUpdateTime"/>
        <result column="job_release_time" property="jobReleaseTime"/>
        <result column="email" property="email"/>
        <result column="job_author_id" property="jobAuthorId"/>
        <result column="job_stat" property="jobStat"/>
        <result column="job_sid" property="jobSid"/>
        <result column="job_mid" property="jobMid"/>
        <result column="job_view_cnt" property="jobViewCnt"/>
        <result column="job_priority" property="jobPriority"/>
        <result column="job_time_span" property="jobTimeSpan"/>
        <result column="job_dead_line" property="jobDeadLine"/>
        <result column="job_responsibilities" property="jobResponsibilities"/>
        <result column="job_requirements" property="jobRequirements"/>
        <result column="job_type" property="jobType"/>
        <result column="type_name" property="jobTypeName"/>
        <association property="company" javaType="com.lhf.dajiuye.bean.job.Company" resultMap="comMap"/>
        <association property="user" javaType="com.lhf.dajiuye.bean.user.User" resultMap="userMap"/>
    </resultMap>
</mapper>
